<?xml version="1.0" encoding="UTF-8"?>
<web-app>
     <dependency>
      <groupId>commons-io</groupId>
    <artifactId>commons-io</artifactId>
      <version>1.3</version>
    </dependency>
  <context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
         C:\Java\tomcat\apache-tomcat-6.0.41\webapps\palagrism\fileuploades\
     </param-value> 
  </context-param>

  <display-name>Plagarism Based Application Deployment System</display-name>
  <description>
     Welcome To Plagarism Based Application Deployment System
  </description>
  <welcome-file-list>
    index.html
  </welcome-file-list>
  <servlet>
    <servlet-name>handler</servlet-name>
    <servlet-class>com.plagarism.servlet.plagarismhandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handler</servlet-name>
    <url-pattern>/handle</url-pattern>
  </servlet-mapping>
</web-app>
